
{{#if data}} 
    <table class="table table-success table-striped">
    <thead>
        <tr>
        <th scope="col"> </th>
            {{#each data}}
                <th scope="col">{{this.header}}</th>
            {{/each}}
        </tr>
    </thead>
    <tbody>
        {{#each data }}
            <tr>
            <th scope="row">{{ this.header }}</th>
                {{#each this.values}}
                    <td>{{this}}</td>
                {{/each}}
            </tr>
        {{/each}}
    </tbody>
    </table>
{{else}}
<h1>No Data Computed</h1>
{{/if}}
